.expertise-elements {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .work {
        width: 100%;
        max-width: 900px;
        padding: 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            font-size: 40px;
            text-decoration: underline;
            font-weight: 600;
        }
        .text {
            font-size: 25px;
            font-weight: 400;
        }
        @media screen and (max-width: 800px) {
            & {
                .heading {
                    font-size: 30px;
                }
                .text {
                    font-size: 20px;
                    padding: 0 20px;
                }
            }
        }
    }
    .worked-on {
        width: 100%;
        max-width: 1000px;
        margin-top: 50px;
        text-align: center;
        border-top: 2px solid $black-shade;
        padding: 50px 0;
        .heading {
            font-size: 30px;
            font-weight: 600;
            text-decoration: underline;
        }
        .tech-list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fill, 100px);
            padding: 30px 0;
            place-items: center;
            place-content: center;
            gap: 30px 10px;
            li {
                @include glass-effect;
                border-radius: 10px;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.5s ease;
                position: relative;
                overflow: hidden;
                &.hidden {
                    transform: translateX(100%);
                }
                &.show {
                    transform: translateX(0);
                }
                &.hidden:nth-child(even) {
                    transform: translateX(-100%);
                }
                &.show:nth-child(even) {
                    transform: translateX(0);
                }

                img {
                    width: 60%;
                    height: 60%;
                    object-fit: contain;
                }
                &::after {
                    top: 0;
                    left: -70px;
                    content: "";
                    width: 30px;
                    height: calc(100% + 2px);
                    transform: skewX(-45deg) translate(0, -1px);
                    background-color: $reflection;
                    position: absolute;
                    transition: left 0.5s ease;
                }
                &:hover {
                    transform: scale(1.05);
                }
                &:hover::after {
                    left: calc(100% + 40px);
                }
            }
        }
        @media screen and (max-width: 800px) {
            & {
                .heading {
                    font-size: 25px;
                }
            }
        }
    }
}